---
import { getCollection } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { CTAItems } from '../../consts';
import Layout from '@layouts/Layout.astro';
import LayoutBaseContainer from '@components/LayoutBaseContainer.astro';
import ButtonBase from '@components/ButtonBase.astro';
import ButtonCTA from '@components/ButtonCTA.astro';
import KV from '@assets/kv.jpg';
import KVSP from '@assets/kv-sp.jpg';
import GuideImage1 from '@assets/guide-image-1.jpg';
import GuideImage2 from '@assets/guide-image-2.jpg';
import GuideImage3 from '@assets/guide-image-3.jpg';
import GuideImage4 from '@assets/guide-image-4.jpg';
import GuideImage5 from '@assets/guide-image-5.jpg';
import GuideImage6 from '@assets/guide-image-6.jpg';
import StoryImage1 from '@assets/story-image-1.jpg';
import StoryImage2 from '@assets/story-image-2.jpg';
import StoryImage3 from '@assets/story-image-3.jpg';
import TopImage from '@assets/top-image.jpg';

const guideTexts = [
  "토롯코 열차는 왜 만들어졌을까?",
  "왜 열차는 깎아지른 절벽 위를 달리고 있을까? <br>그 속에 담긴 고난은?",
  "토롯코 열차가 옆을 따라 달리는 ‘호즈쿄(保津峡)’<br>가 없었다면 교토는 존재하지 않았을까?",
]

const StoryItems = [
  {
    thumbnail: StoryImage1,
    title: '토롯코 사가역 ~ 토롯코 아라시야마역<br>"토롯코 열차의 시작은 어디서부터 였을까?"',
    href: "/"
  },
  {
    thumbnail: StoryImage2,
    title: '토롯코 아라시야마역 ~ 토롯코 호즈쿄역<br>"호즈쿄가 없었다면, 교토는 존재하지 않았을까?"',
    href: "/"
  },
  {
    thumbnail: StoryImage3,
    title: '토롯코 호즈쿄역 ~ 토롯코 카메오카역<br>"가파른 절벽을 따라 철도를 놓기까지의 험난한 여정"',
    href: "/"
  },
]
---

<Layout isHome tagline="AstroとWebflow CMS APIを活用した静的サイト開発テンプレート。">
  <main>
    <div
      x-data="parallax"
      class="relative w-full h-[calc((540+110)/16*1rem)] md:h-lvh md:max-h-[calc(800/1440*100vw)] overflow-hidden pb-[calc(110/16*1rem)] md:pb-0"
    >
      <div
        data-parallax="-0.2"
        class="absolute top-0 left-0 w-full h-[calc(540/16*1rem)] md:h-[calc(580/800*100%)] overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
      >
        <picture>
          <source media="(min-width: 768px)" srcset={KV.src} type="image/jpeg" />
          <source srcset={KVSP.src} type="image/jpeg" />
          <img
            data-parallax="0.4"
            src={KV.src}
            alt=""
            class="translate-y-[var(--parallax-y)] transform-gpu size-full object-cover"
          />
        </picture>
      </div>

      <div class="absolute container bottom-0 left-0 w-full h-auto z-10 md:pb-[calc(46/1440*100vw)]">
        <h1 class="title-5xl">이 이야기는 토롯코 <br>열차를 타야만 <br>알 수 있습니다.</h1>
        <p class="title-xs text-gray-base mt-5 md:mt-10">토롯코 열차를 타며 듣는 역사를 달리는 오디오 가이드</p>
      </div>
    </div>

    <section
      id="guide"
      class="w-full h-auto mt-[calc(109/16*1rem)]"
    >
      <div
        x-data="scrollSticky"
        data-total={guideTexts.length}
        class="relative w-full"
        x-bind:class="{ 'is-reverse': direction < 0 }"
        style={`height: calc(150svh*${guideTexts.length})`}
      >
        <div class="sticky top-0 w-full h-dvh z-10">
          {
            guideTexts.map((text, i) => (
              <div class="absolute inset-0 grid place-content-center z-10 pointer-events-none">
                <div
                  x-data={`{ index: ${i} }`}
                  class="effect-guide w-full h-auto text-center transition-opacity duration-300"
                  x-bind:class="{ 'is-current': index === current, 'is-prev': index < current }"
                >
                  {
                    text.split('<br>').map((t, j) => (
                      <p class="--text title-2xl" style={`--index: ${j}; --total: ${text.split('<br>').length - 1};`} set:html={t}></p>
                    ))
                  }
                </div>
                </div>
              ))
            }
        </div>

        <div
          x-data="parallax"
          class="absolute top-[100svh] right-0 w-[calc(148/375*100%)] md:w-[calc(382/1440*100%)] h-auto aspect-[148/179] md:aspect-[382/462] opacity-70 z-0"
        >
          <div
            data-parallax="-0.3"
            class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
          >
            <img
              data-parallax="0.1"
              src={GuideImage1.src}
              alt=""
              class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-[1.2]"
            />
          </div>
        </div>
        <div
          x-data="parallax"
          class="absolute top-[calc(100svh+184/800*100svh)] left-0 md:left-[calc(60/1440*100%)] w-[calc(89/375*100%)] md:w-[calc(248/1440*100%)] h-auto aspect-[89/106] md:aspect-[248/294] opacity-60 z-0"
        >
          <div
            data-parallax="-0.2"
            class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
          >
            <img
              data-parallax="0.1"
              src={GuideImage2.src}
              alt=""
              class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-[1.2]"
            />
          </div>
        </div>
        <div
          x-data="parallax"
          class="absolute top-[calc(100svh+692/800*100svh)] left-[calc(120/375*100%)] md:left-[calc(328/1440*100%)] w-[calc(97/375*100%)] md:w-[calc(247/1440*100%)] h-auto aspect-[97/110] md:aspect-[247/280] opacity-70 md:opacity-90 z-0"
        >
          <div
            data-parallax="-0.5"
            class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
          >
            <img
              data-parallax="0.1"
              src={GuideImage3.src}
              alt=""
              class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-[1.2]"
            >
          </div>
        </div>
        <div
          x-data="parallax"
          class="absolute top-[calc(100svh+954/800*100svh)] right-0 md:right-[calc(60/1440*100%)] w-[calc(148/375*100%)] md:w-[calc(516/1440*100%)] h-auto aspect-[148/83] md:aspect-[516/354] opacity-90 z-0"
        >
          <div
            data-parallax="-0.2"
            class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
          >
            <img
              data-parallax="0.1"
              src={GuideImage4.src}
              alt=""
              class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-[1.2]"
            >
          </div>
        </div>
        <div
          x-data="parallax"
          class="absolute top-[calc(100svh+1308/800*100svh)] left-0 md:left-[calc(70/1440*100%)] w-[calc(148/375*100%)] md:w-[calc(382/1440*100%)] h-auto aspect-[148/106] md:aspect-[382/280] opacity-70 md:opacity-90 z-0"
        >
          <div
            data-parallax="-0.4"
            class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
          >
            <img
              data-parallax="0.1"
              src={GuideImage5.src}
              alt=""
              class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-[1.2]"
            >
          </div>
        </div>
        <div
          x-data="parallax"
          class="absolute top-[calc(100svh+1579/800*100svh)] right-[calc(20/375*100%)] md:right-[calc(194/1440*100%)] w-[calc(97/375*100%)] md:w-[calc(248/1440*100%)] h-auto aspect-[97/110] md:aspect-[248/294] opacity-40 md:opacity-70 z-0"
        >
          <div
            data-parallax="-0.3"
            class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
          >
            <img
              data-parallax="0.1"
              src={GuideImage6.src}
              alt=""
              class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-[1.2]"
            >
        </div>
        </div>
      </div>
    </section>

    <section id="download" class="w-full h-auto mt-[calc(150/16*1rem)] md:mt-[calc(200/16*1rem)]">
      <LayoutBaseContainer label="Download" title="앱 다운로드">
        <p class="title-lg">현장에서 이야기를 듣고 싶으시다면 <br>ON THE TRIP 앱을 다운로드하세요.</p>
        <div class="w-full h-auto mt-[calc(30/16*1rem)] md:mt-10">
          <ul class="grid grid-cols-2 w-full h-auto gap-x-2 md:gap-x-5">
            {
              CTAItems.map((item) => (
                <ButtonCTA label={item.label} href={item.href} target="_blank" />
              ))
            }
          </ul>
        </div>
      </LayoutBaseContainer>
    </section>

    <section id="story" class="w-full h-auto mt-[calc(150/16*1rem)] md:mt-[calc(200/16*1rem)]">
      <LayoutBaseContainer label="Story" title="토롯코 열차를 타기 전에, <br class='md:hidden'/>이 이야기를 들어보세요">
        <ul class="grid grid-cols-1 w-full h-auto gap-y-20 md:gap-y-[calc(70/16*1rem)]">
          {
            StoryItems.map((item, i) => (
              <li class="relative flex md:flex-row flex-col justify-between items-start w-full h-auto pt-5 gap-y-5">
                <span class="absolute top-0 left-0 w-full h-px border-custom-dashed text-white opacity-30 pointer-events-none"></span>
                <p class="title-en-xl text-nowrap">0{i + 1}</p>
                <div class="w-full md:w-[calc(784/918*100%)] h-auto flex md:flex-row flex-col justify-start items-start gap-y-10 gap-x-4">
                  <div class="w-full h-auto">
                    <h3 class="title-xl" set:html={item.title}></h3>
                    <div class="w-full h-auto mt-[calc(30/16*1rem)] md:mt-10">
                      <ButtonBase label="이야기 듣기" href={item.href} target="_blank" />
                    </div>
                  </div>
                  <div class="w-full md:w-[calc(382/784*100%)] h-auto aspect-[335/170] md:aspect-[382/190] overflow-hidden flex-[1_0_auto]">
                    <img src={item.thumbnail.src} alt="" class="size-full object-cover" />
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </LayoutBaseContainer>
    </section>

    <div
      x-data="parallax"
      class="w-full h-auto aspect-[375/445] md:aspect-[1440/725] mt-[calc(150/16*1rem)] md:mt-[calc(200/16*1rem)]"
    >
      <div
        data-parallax="-0.4"
        class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
      >
        <img
          data-parallax="0.2"
          src={TopImage.src}
          alt=""
          class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-110"
        >
      </div>
    </div>

    <section id="concept" class="w-full h-auto mt-[calc(60/16*1rem)] md:mt-[calc(150/16*1rem)] mb-10">
      <LayoutBaseContainer label="Concept" title="오디오 가이드로 <br />듣는 토롯코 열차 이야기">
        <div class="w-full md:w-[calc(650/918*100%)] h-auto ml-auto">
          <p class="title-md">
            ON THE TRIP에서 제공하는 이야기를 들으면 눈앞의 풍경이 다르게 보일지도 모릅니다.<br>
            우리에게 익숙한 일반 열차와는 다른 승차감을 줍니다.<br>
            토롯코 열차를 직접 타고 경험하며 오감으로 그 차이를 느끼고, 열차가 생겨난 배경을 알게 되면<br>
            그 승차감도 또 다른 의미로 다가올 것입니다.<br>
            이야기는 토롯코 열차의 시작에서 출발해 더 오래 전의 역사로 이어집니다.<br>
            이곳에 철도가 놓이기 전 아득한 옛날, 호즈강은 중요한 물자를 실어 나르는 역할을 했습니다.<br>
            그것은 무엇이었을까요? 그리고 에도 시대에 어떤 변화가 있었을까요?<br>
            열차는 역사 속을 따라가며 그 답을 찾아갑니다.<br>
            그리고 시대가 흘러, 메이지 시대에 완성된 철도를 달리는 지금의 토롯코 열차.<br>
            이 굽이진 철길에는 어떤 피와 땀으로 이루어진 이야기들이 담겨 있을까요?<br>
            풍경을 바라보며 이야기를 듣다 보면<br>
            지금까지 보지 못했던 것들이 보일지도 모릅니다.
          </p>
        </div>
      </LayoutBaseContainer>
    </section>
  </main>
</Layout>
