---
import { CTAItems } from '../../consts';
import Layout from '@layouts/Layout.astro';
import LayoutBaseContainer from '@components/LayoutBaseContainer.astro';
import ButtonBase from '@components/ButtonBase.astro';
import ButtonCTA from '@components/ButtonCTA.astro';
import KV from '@assets/kv.jpg';
import KVSP from '@assets/kv-sp.jpg';
import GuideImage1 from '@assets/guide-image-1.jpg';
import GuideImage2 from '@assets/guide-image-2.jpg';
import GuideImage3 from '@assets/guide-image-3.jpg';
import GuideImage4 from '@assets/guide-image-4.jpg';
import GuideImage5 from '@assets/guide-image-5.jpg';
import GuideImage6 from '@assets/guide-image-6.jpg';
import StoryImage1 from '@assets/story-image-1.jpg';
import StoryImage2 from '@assets/story-image-2.jpg';
import StoryImage3 from '@assets/story-image-3.jpg';
import TopImage from '@assets/top-image.jpg';

const guideTexts = [
  '开通岚山小火车的理由是？',
  '火车为何要在断崖绝壁上行驶?<br>所经历的苦难是？',
  '沿着保津峡行驶的岚山小火车，<br>“没有保津峡京都就不复存在？”',
];

const StoryItems = [
  {
    thumbnail: StoryImage1,
    title: '小火车嵯峨站 - 小火车岚山站 <br>“从舒适度能了解的岚山小火车的由來是？”',
    href: 'https://on-the-trip.net/indices/9990?locale=zh-Hans',
  },
  {
    thumbnail: StoryImage2,
    title: '小火车岚山站 - 小火车保津峡站 <br>“如果没有保津峡京都就不复存在？”',
    href: 'https://on-the-trip.net/indices/9991?locale=zh-Hans',
  },
  {
    thumbnail: StoryImage3,
    title: '小火车保津峡站 - 小火车龟冈站 <br>“在断崖绝壁上建铁道时所经历的苦难是？”',
    href: 'https://on-the-trip.net/indices/9988?locale=en',
  },
];
---

<Layout isHome tagline="AstroとWebflow CMS APIを活用した静的サイト開発テンプレート。">
  <main>
    <div
      x-data="parallax"
      class="effect-fv relative w-full h-[calc((540+110)/16*1rem)] md:h-lvh md:max-h-[calc(800/1440*100vw)] overflow-hidden pb-[calc(110/16*1rem)] md:pb-0"
    >
      <div
        data-parallax="-0.2"
        class="--thumbnail absolute top-0 left-0 w-full h-[calc(540/16*1rem)] md:h-[calc(580/800*100%)] overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
      >
        <div data-parallax="0.4" class="size-full translate-y-[var(--parallax-y)] transform-gpu">
          <picture>
            <source media="(min-width: 768px)" srcset={KV.src} type="image/jpeg" />
            <source srcset={KVSP.src} type="image/jpeg" />
            <img src={KV.src} alt="" class="--image size-full object-cover" />
          </picture>
        </div>
      </div>

      <div
        class="absolute container bottom-0 left-0 w-full h-auto z-10 md:pb-[calc(46/1440*100vw)]"
      >
        <h1 x-data="splitLabel" class="--title title-5xl">
          只有乘坐岚山小火车，<br />才能了解的故事
        </h1>
        <p x-data="splitLabel(10)" class="--text title-xs text-gray-base mt-5 md:mt-10">
          乘坐岚山小火车的同时体验<br class="md:hidden" />穿越历史的语音向导
        </p>
      </div>
    </div>

    <section id="guide" class="w-full h-auto mt-[calc(109/16*1rem)]">
      <div
        x-data="scrollSticky"
        data-total={guideTexts.length}
        class="relative w-full"
        x-bind:class="{ 'is-reverse': direction < 0 }"
        style={`height: calc(150svh*${guideTexts.length})`}
      >
        <div class="sticky top-0 w-full h-dvh z-10">
          <span
            class="pointer-events-none absolute inset-0 -z-10 [background:linear-gradient(0deg,rgba(18,18,18,0.8)_0%,rgba(18,18,18,0.0)_50%,rgba(18,18,18,0.8)_100%);]"
          ></span>

          {
            guideTexts.map((text, i) => (
              <div class="absolute inset-0 grid place-content-center z-10 pointer-events-none">
                <div
                  x-data={`{ index: ${i} }`}
                  class="effect-guide w-full h-auto text-center transition-opacity duration-300"
                  x-bind:class="{ 'is-current': index === current, 'is-prev': index < current }"
                >
                  {text.split('<br>').map((t, j) => (
                    <p
                      class="--text title-2xl"
                      style={`--index: ${j}; --total: ${text.split('<br>').length - 1};`}
                      set:html={t}
                    />
                  ))}
                </div>
              </div>
            ))
          }
        </div>

        <div
          x-data="parallax"
          data-parallax-mobile
          class="absolute top-[100svh] right-0 w-[calc(148/375*100%)] md:w-[calc(382/1440*100%)] h-auto aspect-[148/179] md:aspect-[382/462] opacity-70 z-0"
        >
          <div
            data-parallax-scale="2"
            data-parallax-scale-center
            class="size-full overflow-hidden scale-[var(--parallax-scale)] transform-gpu"
          >
            <img src={GuideImage1.src} alt="" class="size-full object-cover" />
          </div>
        </div>
        <div
          x-data="parallax"
          data-parallax-mobile
          class="absolute top-[calc(100svh+184/800*100svh)] left-0 md:left-[calc(60/1440*100%)] w-[calc(89/375*100%)] md:w-[calc(248/1440*100%)] h-auto aspect-[89/106] md:aspect-[248/294] opacity-60 z-0"
        >
          <div
            data-parallax-scale="2"
            data-parallax-scale-center
            class="size-full overflow-hidden scale-[var(--parallax-scale)] transform-gpu"
          >
            <img src={GuideImage2.src} alt="" class="size-full object-cover" />
          </div>
        </div>
        <div
          x-data="parallax"
          data-parallax-mobile
          class="absolute top-[calc(100svh+692/800*100svh)] left-[calc(120/375*100%)] md:left-[calc(328/1440*100%)] w-[calc(97/375*100%)] md:w-[calc(247/1440*100%)] h-auto aspect-[97/110] md:aspect-[247/280] opacity-70 md:opacity-90 z-0"
        >
          <div
            data-parallax-scale="2"
            data-parallax-scale-center
            class="size-full overflow-hidden scale-[var(--parallax-scale)] transform-gpu"
          >
            <img src={GuideImage3.src} alt="" class="size-full object-cover" />
          </div>
        </div>
        <div
          x-data="parallax"
          data-parallax-mobile
          class="absolute top-[calc(100svh+954/800*100svh)] right-0 md:right-[calc(60/1440*100%)] w-[calc(148/375*100%)] md:w-[calc(516/1440*100%)] h-auto aspect-[148/83] md:aspect-[516/354] opacity-90 z-0"
        >
          <div
            data-parallax-scale="1"
            data-parallax-scale-center
            class="size-full overflow-hidden scale-[var(--parallax-scale)] transform-gpu"
          >
            <img src={GuideImage4.src} alt="" class="size-full object-cover" />
          </div>
        </div>
        <div
          x-data="parallax"
          data-parallax-mobile
          class="absolute top-[calc(100svh+1308/800*100svh)] left-0 md:left-[calc(70/1440*100%)] w-[calc(148/375*100%)] md:w-[calc(382/1440*100%)] h-auto aspect-[148/106] md:aspect-[382/280] opacity-70 md:opacity-90 z-0"
        >
          <div
            data-parallax-scale="1"
            data-parallax-scale-center
            class="size-full overflow-hidden scale-[var(--parallax-scale)] transform-gpu"
          >
            <img src={GuideImage5.src} alt="" class="size-full object-cover" />
          </div>
        </div>
        <div
          x-data="parallax"
          data-parallax-mobile
          class="absolute top-[calc(100svh+1579/800*100svh)] right-[calc(20/375*100%)] md:right-[calc(194/1440*100%)] w-[calc(97/375*100%)] md:w-[calc(248/1440*100%)] h-auto aspect-[97/110] md:aspect-[248/294] opacity-40 md:opacity-70 z-0"
        >
          <div
            data-parallax-scale="2"
            data-parallax-scale-center
            class="size-full overflow-hidden scale-[var(--parallax-scale)] transform-gpu"
          >
            <img src={GuideImage6.src} alt="" class="size-full object-cover" />
          </div>
        </div>
      </div>
    </section>

    <section id="download" class="w-full h-auto mt-[calc(150/16*1rem)] md:mt-[calc(200/16*1rem)]">
      <LayoutBaseContainer label="Download" title="下载应用程序">
        <p x-data="splitLabel(10)" class="effect-split-char title-lg" style=`--delay: 0ms;`>
          想要在现场聆听故事，<br />请下载 ON THE TRIP APP
        </p>
        <div class="w-full h-auto mt-[calc(30/16*1rem)] md:mt-10">
          <ul class="grid grid-cols-2 w-full h-auto gap-x-2 md:gap-x-5">
            {
              CTAItems.map((item, i) => (
                <li class="effect-fadein w-full h-auto" style={`--delay: ${i * 100}ms;`}>
                  <ButtonCTA label={item.label} href={item.href} target="_blank" />
                </li>
              ))
            }
          </ul>
        </div>
      </LayoutBaseContainer>
    </section>

    <section id="story" class="w-full h-auto mt-[calc(150/16*1rem)] md:mt-[calc(200/16*1rem)]">
      <LayoutBaseContainer label="Story" title="在乘坐岚山小火车之前听故事">
        <ul class="grid grid-cols-1 w-full h-auto gap-y-20 md:gap-y-[calc(70/16*1rem)]">
          {
            StoryItems.map((item, i) => (
              <li
                x-data="{ action: false }"
                x-intersect:enter.once="action = true"
                class="effect-item w-full h-auto"
                x-bind:class="{ 'is-active': action }"
              >
                <a
                  x-data="hover"
                  x-on:mouseenter="rollEnter"
                  x-on:mouseleave="rollLeave"
                  data-enter-time="800"
                  data-leave-time="300"
                  href={item.href}
                  class="flex md:flex-row flex-col justify-between items-start w-full h-auto pt-5 gap-y-5 relative"
                  target="_blank"
                >
                  <span
                    class="--line absolute top-0 left-0 w-full h-px border-custom-dashed text-white opacity-30 pointer-events-none"
                    style={`--delay: 0ms;`}
                  />
                  <p
                    x-data="splitLabel"
                    class="--char title-en-xl text-nowrap"
                    style={`--delay: 0ms;`}
                  >
                    0{i + 1}
                  </p>
                  <div class="w-full md:w-[calc(784/918*100%)] h-auto flex md:flex-row flex-col justify-start items-start gap-y-10 gap-x-4">
                    <div class="w-full h-auto">
                      <h3
                        x-data="splitLabel(10)"
                        class="--char title-xl"
                        style={`--delay: 50ms;`}
                        set:html={item.title}
                      />
                      <div
                        class="--fadein w-full h-auto mt-[calc(30/16*1rem)] md:mt-10"
                        style={`--delay: 100ms;`}
                      >
                        <ButtonBase label="听故事" type="button" />
                      </div>
                    </div>
                    <div
                      class="--image w-full md:w-[calc(382/784*100%)] h-auto aspect-[335/170] md:aspect-[382/190] flex-[1_0_auto]"
                      style={`--delay: 150ms;`}
                    >
                      <div class="link-image size-full overflow-hidden">
                        <div class="--inner size-full">
                          <img src={item.thumbnail.src} alt="" class="size-full object-cover" />
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </LayoutBaseContainer>
    </section>

    <div
      x-data="parallax"
      class="w-full h-auto aspect-[375/445] md:aspect-[1440/725] mt-[calc(150/16*1rem)] md:mt-[calc(200/16*1rem)]"
    >
      <div
        data-parallax="-0.4"
        class="size-full overflow-hidden translate-y-[var(--parallax-y)] transform-gpu"
      >
        <img
          data-parallax="0.2"
          src={TopImage.src}
          alt=""
          class="size-full object-cover translate-y-[var(--parallax-y)] transform-gpu scale-110"
        />
      </div>
    </div>

    <section
      id="concept"
      class="w-full h-auto mt-[calc(60/16*1rem)] md:mt-[calc(150/16*1rem)] mb-10"
    >
      <LayoutBaseContainer label="Concept" title="通过语音向导，<br>听岚山小火车的故事">
        <div class="w-full md:w-[calc(650/918*100%)] h-auto ml-auto">
          <p class="effect-fadein title-md" style="--delay: 0ms;">
            当你听到ON THE
            TRIP讲解的故事，眼前的风景将发生意想不到的变化。乘坐的小火车与平时乘坐的电车有着不同感受。在乘坐岚山小火车的同时，用你的感官体验其中的差异，并通过了解它的起源提升乘坐体验。故事，将从岚山小火车的起源开启，逐步深入到久远的时代。早在铁路铺设之前，保津川就用来运输重要物品。它会是什么呢？江户时代又发生了哪些变化呢？在了解真实历史的同时火车将继续前行。后来，随着时间的推移，行驶在明治时期建成的轨道上的，如今的岚山小火车。这条蜿蜒的线路上，隐藏着怎样的血汗故事？当你乘坐小火车，边欣赏风景，边聆听故事，之前没有发现的景色将展现在眼前！
          </p>
        </div>
      </LayoutBaseContainer>
    </section>
  </main>
</Layout>
